body { 
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin: auto 30px; 
    color: cyan; 
    background-color: grey;

}

ul { 
    margin: 0; 
}

li{ 
    padding: 5px; 

}

#todo-list-container{ 
    margin-top: 20px; 

}

#completed-list{ 
    list-style-type: none; 

}

#completed-list li{ 
    text-decoration: line-through; 
}